
body{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}
/*shared styles*/
.navbar, .banner, .work-summary, .sponsor, footer, .architect-details{
    max-width: 1440px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.second-background{
    background-color: rgba(255, 144, 14, 0.1);
}
.dark-01{
    color: #131313;
}
.dark-02{
    color: #424242;
}
.dark-03{
    color: #727272;
}
.text-orange{
    color: #FF900E;
}
.text-bold{
    font-weight: bold;
}
.btn1{
    padding: 20px 25px;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
}
/*header styles starts*/

.navbar{
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 45px;
    font-weight: bold;
}
.navbar-menu{
    
}
.list-items{
    list-style: none;
    margin-left: 50px;
    font-size: 18px;
}
.list-items a{
    text-decoration: none;
    color: black;
}

.banner-container{
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
}
.banner-title{
    font-size: 64px;
    font-weight: bold;
    max-width: 860px;
}
.banner-desc{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 32px;
}
.banner .btn1{
    margin-bottom: 50px;
}
.banner img{
    margin-bottom: 45px;
    width: 100%;
}
/*header styles ends*/
/*header styles starts*/
.features{
    margin: 85px auto;
    max-width: 1320px;
    gap: 75px;
    justify-content: center;
    align-items: center;
}
.features-image-collage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features-text-container{

}
.features-title{
    font-size: 45px;
    font-weight: normal;
    line-height: auto;
    margin-bottom: 24px;
}
.features-desc{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}



.architect-details{
    gap: 146px;
    margin-bottom: 160px;
}

.architect-details-text-container{

}

#vertical{
    border-left: 5px solid #FF900E;
    padding: 20px;
}
.architect-details-title{
    max-width: 460px;
    font-size: 45px;
    margin-bottom: 24px;
}
.architect-details-desc{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}
.architect-details-card{
    padding: 30px;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    border-radius: 8px;
}
.architect-details-card .card-ttile{
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0px;
}
.architect-details-card .card-desc{
    font-size: 16px;
    line-height: 26px;
    margin: 0px 0px;
}
.architect-details-img-container{
    position: relative;
}
.architect-details-img-container img{
}
.experience-card{
    position: absolute;
    left: -77px;
    bottom: -38px;
    background-color: #FF900E;
    padding: 45px 45px;
    text-align: center;
    border-radius: 8px;
    color: white;
}
.experience-title{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}
.experience-subtitle{
    font-size: 20px;
    margin-top: -30px;
    margin: 0;
}
.work-summary-title{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 24px;
}
.work-summary-desc{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 100px;
}
.summary-cards{
    justify-content: space-around;
    text-align: center;
    margin-bottom: 180px;
}
.summary-cards .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    padding: 40px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.summary-cards .card h3{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 5px;
}
.summary-cards .card p{
    font-size: 20px;
    font-weight: 600;
}

.sponsor{
    flex-direction: column;
    text-align: center;
}
.sponsor-text-container{
    margin-bottom: 50px;
}
.sponsor-text-container h2{
    font-size: 45px;
    font-weight: bold;
}
.sponsor-text-container p{
    font-size: 16px;
    line-height: 26px;
    max-width: 540px;
    margin: 0 auto;
}
.sponsor-image-container{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
}
.sponsor-image-container img{
    filter: grayscale(100%);
}
/*header styles ends*/
/*header styles starts*/

.footer{
    text-align: center;
    padding: 40px;
    margin-bottom: 200px;
    font-size: 20px;
}
/*header styles ends*/





.hide{
    display: none;
}

@media screen and (max-width: 576px){
    .display-flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo{
        margin-bottom: 20px;
    }
    .navbar-menu{
        padding: 0;
    }
    .list-items{
        margin: 20px 0;
    }
    .banner, .features, .architect-details, .work-summary, .sponsor{
        padding: 20px;
    }
    .banner-title{
        font-size: 45px;
    }

    .features-image-collage{
        grid-template-columns: repeat(1, 1fr);
    }
    .architect-details-img-container img{
        width: 100%;
    }
    .experience-card{
        scale: 0.5;
        margin-bottom: -40px;
        margin-left: -20px;
    }
    .summary-cards, .sponsor-image-container{
        gap: 30px;
    }
    .summary-cards{
        margin-bottom: 50px;
    }
}
@media screen and (min-width:576px) and (max-width:992px) {

    .navbar, .banner, .features, .architect-details, .work-summary, .sponsor{
        padding: 20px;
    }
    .features, .architect-details, .sponsor-image-container{
        flex-direction: column;
    }
    .architect-details-img-container img{
        width: 100%;
        text-align: center;
    }
    .experience-card{
        left: 30px;
    }
    .summary-cards{
        flex-wrap: wrap;
        gap: 30px;
    }
    .summary-cards{
        margin-bottom: 30px;
    }
    .sponsor-image-container{
        gap: 50px;
    }
}